# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Logs & Temporary files
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
